.level-input {
  width: 50px;
  text-align: right;
  padding: 0px 5px;
}

.level-slider {
  --slider-color: var(--slider-color);
}

.stats-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.stats-grid .desc {
  font-size: 0.9em;
  font-style: italic;
}

.profile {
  max-width: 400px;
}

.materials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.materials img {
  max-width: 64px;
}

.materials img:hover {
  outline: 1px solid;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .profile {
    max-width: 100%;
  }
}
