@if (char) {
  <div class="profile">
    <div class="stats-grid">
      <div class="stat-row">
        <span class="label">Szint</span>
        <div class="level-controls">
          <input
            type="range"
            min="0"
            max="{{ quickLevels.length - 1 }}"
            [(ngModel)]="levelIndex"
            (input)="updateLevelFromIndex()"
            class="level-slider"
            [style]="'--slider-color: ' + elementColor"
          />
          <datalist id="level-ticks">
            @for (lvl of quickLevels; track lvl) {
              <option [value]="lvl"></option>
            }
          </datalist>
          <input
            type="text"
            [(ngModel)]="level"
            (change)="validateLevel()"
            class="level-input"
          />
        </div>
      </div>
      <div class="stat-row">
        <span class="label">Alap HP</span>
        <span class="value">{{ char.stats[level].hp | number: "1.0-0" }}</span>
      </div>
      <div class="stat-row">
        <span class="label">Alap ATK</span>
        <span class="value">{{
          char.stats[level].attack | number: "1.0-0"
        }}</span>
      </div>
      <div class="stat-row">
        <span class="label">Alap DEF</span>
        <span class="value">{{
          char.stats[level].defense | number: "1.0-0"
        }}</span>
      </div>
      <div class="stat-row">
        <span class="label">{{ char.profile.substatText }}</span>
        <span class="value">
          {{
            (char.stats[level].specialized ?? 0) * 100 | number: "1.2-2"
          }}%</span
        >
      </div>
      <hr style="width: 100%" [style]="`color: ${elementColor};`" />
      <div class="stat-row">
        <span class="label">Elem</span>
        <span class="value">{{ char.profile.elementText }}</span>
      </div>
      <div class="stat-row">
        <span class="label">Fegyver</span>
        <span class="value">{{ char.profile.weaponText }}</span>
      </div>
      <div class="stat-row">
        <span class="label">Constelláció</span>
        <span class="value">{{ char.profile.constellation }}</span>
      </div>
      <div class="stat-row">
        <span class="label">Tagság</span>
        <span class="value">{{ char.profile.affiliation }}</span>
      </div>
      <div class="stat-row">
        <span class="label">Születésnap</span>
        <span class="value">{{ char.profile.birthday }}</span>
      </div>
      <span class="desc">{{ char.profile.description }}</span>
    </div>
  </div>
}
