.level-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 1;
}

.level-slider {
  flex: 1;
  cursor: pointer;
  padding: 0 5px;
  margin: 0;

  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
}

.level-input {
  width: 50px;
  text-align: right;
  padding: 0px 5px;
}

.level-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: var(--dark-gray);
  border-radius: 5px;
}
.level-slider::-moz-range-track {
  height: 4px;
  background: var(--dark-gray);
  border-radius: 5px;
}

.level-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: var(--slider-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

.level-slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: var(--slider-color);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.level-slider::-moz-range-progress {
  background: var(--slider-color);
  height: 4px;
  border-radius: 5px;
}

.level-slider::-webkit-progress-value {
  background: var(--slider-color);
  height: 4px;
  border-radius: 5px;
}

.stats-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.stat-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.stats-grid .desc {
  font-size: 0.9em;
  font-style: italic;
}

.profile {
  max-width: 400px;
}

.materials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.materials img {
  max-width: 64px;
}

.materials img:hover {
  outline: 1px solid;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .profile {
    max-width: 100%;
  }
}
