<div class="character-stats">
  @if (char) {
    <div class="char-container">
      <div class="left">
        <div class="char-info" [style]="`border-color: ${elementColor};`">
          <h2>{{ char.profile.name }}</h2>
          <p>{{ char.profile.title }}</p>
        </div>
        <div class="menus">
          <button
            [class.active]="selectedMenu === 'profile'"
            (click)="selectedMenu = 'profile'"
            [style.border-color]="
              selectedMenu === 'profile' ? elementColor : 'transparent'
            "
          >
            Profil
          </button>
          <button
            [class.active]="selectedMenu === 'talents'"
            (click)="selectedMenu = 'talents'"
            [style.border-color]="
              selectedMenu === 'talents' ? elementColor : 'transparent'
            "
          >
            Talentek
          </button>
          <button
            [class.active]="selectedMenu === 'constellations'"
            (click)="selectedMenu = 'constellations'"
            [style.border-color]="
              selectedMenu === 'constellations' ? elementColor : 'transparent'
            "
          >
            Konstelláció
          </button>
          @if (isTraveller()) {
            <div class="element-selector">
              @for (element of elements; track element) {
                <div
                  class="element-container"
                  [class.selected]="selectedElement === element"
                  [style.outline-color]="elementColors[element]"
                >
                  <div
                    class="element"
                    (click)="selectElement(element)"
                    [style]="
                      getElementStyle(
                        element,
                        'assets/images/' + elementTypeLabel[element] + '.webp'
                      )
                    "
                  >
                    <img
                      [src]="
                        'assets/images/' + elementTypeLabel[element] + '.webp'
                      "
                    />
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>
      <div
        class="right"
        [class.full-width]="
          selectedMenu === 'talents' || selectedMenu === 'constellations'
        "
        [style]="`border-color: ${elementColor};`"
      >
        @if (selectedMenu === "profile") {
          <app-overview-profile
            [elementColor]="elementColor"
            [char]="char"
          ></app-overview-profile>
        }
        @if (selectedMenu === "talents") {
          <app-overview-talents
            [elementColor]="elementColor"
            [apiKey]="apikey"
            [char]="char"
            [element]="selectedElement"
          ></app-overview-talents>
        }
        @if (selectedMenu === "constellations") {
          <app-overview-constellations
            class="test"
            [elementColor]="elementColor"
            [apiKey]="apikey"
            [char]="char"
            [element]="selectedElement"
          >
          </app-overview-constellations>
        }
      </div>
    </div>
  }
</div>
@if (selectedMenu === "profile") {
  <div
    class="background"
    [style]="`background-image: url(${imageUrls.gachaSplash});`"
  ></div>
}
