<div class="nav-container">
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/" routerLinkActive="active">GI</a>
    </div>
    <button class="hamburger-menu" (click)="toggleMobileMenu()" [class.active]="mobileMenuOpen">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="nav-links navbar-center" [class.mobile-menu-open]="mobileMenuOpen">
        <a class="nav-button" routerLink="/tierlist" routerLinkActive="active" (click)="closeMobileMenu()">Tier List</a>
        <a class="nav-button" [routerLink]="['/characters']" routerLinkActive="active" (click)="closeMobileMenu()">Karakterek</a>
        <!-- <a class="nav-button" [routerLink]="['/weapons']" routerLinkActive="active" (click)="closeMobileMenu()">Weapons</a> -->
        <!-- <a class="nav-button" [routerLink]="['/artifacts']" routerLinkActive="active" (click)="closeMobileMenu()">Artifacts</a> -->
        <!-- <a class="nav-button" [routerLink]="['/endgames']" routerLinkActive="active" (click)="closeMobileMenu()">Endgames</a> -->
        <a class="nav-button" [routerLink]="['/tools']" routerLinkActive="active" (click)="closeMobileMenu()">Eszközök</a>
    </div>
  </nav>
</div>
