<div class="container">
  <app-page-title
    title="Tier List"
    backLink="/"
  ></app-page-title>
  <div class="tierlist">
    @for (tier of tierlist; track $index) {
      <div class="tier">
        <h2 class="tier-title">
          {{ tier.tier }}
        </h2>
        <div class="characters">
          @for (char of getCharsWithProfile(tier); track $index) {
            <div class="character">
              <img
                class="character-icon"
                [src]="
                  'assets/images/characters/' +
                  char.character.apiKey +
                  '/icon.png'
                "
                [alt]="char?.profile?.name"
              />
              <div class="tags">
                @for (tag of char.character.tags; track $index) {
                  <span class="tag" [style.background]="tag.color">
                    {{ tag.label }}

                    @if (tag.extra?.length) {
                      <span class="tooltip">
                        {{ getExtraNames(tag.extra || []) }}
                      </span>
                    }
                  </span>
                }
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
