<div class="talents-container">
  @if (char && char.skills) {
    @if (char.skills.combat1) {
      <app-talent-details
        [talent]="char.skills.combat1"
        [elementColor]="elementColor"
        [imageUrl]="talentImageUrls.combat1"
      ></app-talent-details>
    }
    @if (char.skills.combat2) {
      <hr [style.color]="elementColor" />
      <app-talent-details
        [talent]="char.skills.combat2"
        [elementColor]="elementColor"
        [imageUrl]="talentImageUrls.combat2"
      ></app-talent-details>
    }

    @if (char.skills.combat3) {
      <hr [style.color]="elementColor" />
      <app-talent-details
        [talent]="char.skills.combat3"
        [elementColor]="elementColor"
        [imageUrl]="talentImageUrls.combat3"
      ></app-talent-details>
    }
    @if (char.skills.passive1) {
      <hr [style.color]="elementColor" />
      <app-talent-details
        [talent]="char.skills.passive1"
        [elementColor]="elementColor"
        [imageUrl]="talentImageUrls.passive1"
      ></app-talent-details>
    }
    @if (char.skills.passive2) {
      <hr [style.color]="elementColor" />
      <app-talent-details
        [talent]="char.skills.passive2"
        [elementColor]="elementColor"
        [imageUrl]="talentImageUrls.passive2"
      ></app-talent-details>
    }
    @if (char.skills.passive3) {
      <hr [style.color]="elementColor" />
      <app-talent-details
        [talent]="char.skills.passive3"
        [elementColor]="elementColor"
        [imageUrl]="talentImageUrls.passive3"
      ></app-talent-details>
    }
    @if (char.skills.passive4) {
      <hr [style.color]="elementColor" />
      <app-talent-details
        [talent]="char.skills.passive4"
        [elementColor]="elementColor"
        [imageUrl]="talentImageUrls.passive4"
      ></app-talent-details>
    }
  }
</div>
