<div class="container">
  <app-page-title [title]="'Artifaktok'" [backLink]="'/'"></app-page-title>
  <div class="search-bar">
    <app-filters
      [groups]="filterGroups"
      [filters]="filters"
      (filtersChange)="onFiltersChange($event)"
    />
    <input
      type="text"
      placeholder="Artifaktok keresése..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="applyFilters()"
    />
  </div>
  <div class="artifacts">
    @for (artifact of artifacts; track $index) {
      <app-item-card
        [routerLink]="`/artifacts/${artifact.normalizedName}`"
        [style.display]="
          filteredArtifacts.includes(artifact) ? 'block' : 'none'
        "
        [imageUrl]="getImage(artifact)"
        [itemName]="artifact.name"
        [rarity]="getMaxRarity(artifact)"
      >
      </app-item-card>
    }
  </div>
</div>
