.weapon {
  max-width: 120px;
  border: 1px solid var(--dark-gray);
  border-radius: 13px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.weapon:hover {
  border-color: var(--gray);
  box-shadow: 0 0 14px var(--shadow-blue);
}

.weapon-icon {
  margin: 15px 0px 25px;
  width: 100%;
  z-index: 1;
}

.weapon-icon img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  position: absolute;
  z-index: 3;
}

.icons .icon {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.icon img {
  width: 100%;
  height: auto;
  display: block;
}

.weapon p {
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  font-size: 0.8em;

  z-index: 3;
}

.weapon::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;

  background: linear-gradient(
    transparent,
    transparent 50%,
    var(--black) 80%
  );

  z-index: 2;
  pointer-events: none;
}
