<div class="container">
  <app-page-title backLink="/" title="Fegyverek"></app-page-title>
  <div class="search-bar">
    <app-filters
      [groups]="filterGroups"
      [filters]="filters"
      (filtersChange)="onFiltersChange($event)"
    />
    <input
      type="text"
      placeholder="Fegyverek keresése..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="applyFilters()"
    />
  </div>
  <div class="flex-wrap-center">
    @for (weapon of weapons; track $index) {
      <app-item-card
        [routerLink]="`/weapons/${weapon.normalizedName}`"
        [style.display]="filteredWeapons.includes(weapon) ? 'block' : 'none'"
        [imageUrl]="getIconUrls(weapon).iconUrl"
        [itemName]="weapon.name"
        [rarity]="weapon.rarity"
      >
        <div icon-slot>
          <div class="icon">
            <img [src]="getIconUrls(weapon).typeUrl" alt="" />
          </div>
        </div>
      </app-item-card>
    }
  </div>
</div>
