.weapon-container {
  gap: 20px;
  align-items: flex-start;
}

.weapon-card {
  flex: 1;
  border-radius: 13px;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.weapon-stats {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 0px 10px;
  border-bottom: 1px solid var(--dark-gray);
}

.weapon-card img {
  width: 150px;
  height: 150px;
  display: block;
}

.image {
  flex: 1;
  display: flex;
  justify-content: right;
}

.card-bottom {
  padding: 10px;
}

.weapon-desc {
  font-style: italic;
}

.weapon-name {
  font-size: 1.2em;
  color: var(--light-gray);
  margin-bottom: 8px;
}

.effect-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.refinement-selector {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.ref-btn {
  width: 30px;
  height: 30px;
}

.effect-name {
  color: var(--light-gray);
}

.effect {
  margin-bottom: 15px;
}

.level-input {
  width: 50px;
  text-align: right;
  padding: 0px 5px;
}

.level-slider {
  --slider-color: var(--gray);
}

.weapon-story {
  flex: 1;
  border-radius: 13px;
  border: 1px solid var(--dark-gray);
  padding: 10px;
}

.story-header {
  color: var(--light-gray);
  font-size: 1.2em;
  margin-bottom: 10px;
}
