.guide-with-toc {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.toc-container {
  min-width: 300px;
  height: fit-content;
  top: 100px;
  position: sticky;
}

.toc-content {
  overflow: hidden;

  padding: 0;
}

.toc-content:hover {
  box-shadow: none;
}

.guide-container {
  flex: 1;
  background-color: var(--black);

}

.guide-container h2 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
}

.guide-simple {
  margin-bottom: 40px;
}

.guide-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
