<div class="container">
  <div class="header">
    <app-page-title class="header-item" title="Editors" backLink="/tools" />
    <div class="button-group header-item">
      <button routerLink="talent" routerLinkActive="active" class="button">Talent Editor</button>
      <button routerLink="hyperlink" routerLinkActive="active" class="button">
        Hyperlink Editor
      </button>
    </div>
    <div class="header-item flex-row">
      <button class="align-right" (click)="export()">Letöltés JSON-ként</button>
      <button (click)="resetEditorData()">Reset</button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
