<div class="container">
  <app-page-title title="Editors" backLink="/tools" />

  <div class="button-group">
    <button
      (click)="selectEditor('talent')"
      [class.active]="activeEditor === 'talent'"
      class="button"
    >
      Talent Editor
    </button>
    <button
      (click)="selectEditor('hyperlink')"
      [class.active]="activeEditor === 'hyperlink'"
      class="button"
    >
      Hyperlink Manager
    </button>
  </div>

  @if (activeEditor === "talent") {
    <router-outlet name="talent"></router-outlet>
  } @else if (activeEditor === "hyperlink") {
    <router-outlet name="hyperlink"></router-outlet>
  }
</div>
