<div class="container">
  <div class="header">
    <app-page-title class="header-item" title="Editors" backLink="/tools" />
    <div class="button-group header-item">
      <button
        (click)="selectEditor('talent')"
        [class.active]="activeEditor === 'talent'"
        class="button"
      >
        Talent Editor
      </button>
      <button
        (click)="selectEditor('hyperlink')"
        [class.active]="activeEditor === 'hyperlink'"
        class="button"
      >
        Hyperlink Manager
      </button>
    </div>
    <div class="header-item flex-row">
      <button class="align-right" (click)="export()">Letöltés JSON-ként</button>
      <button (click)="resetEditorData()">Reset</button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
