<div class="container">
  <app-page-title backLink="/" title="Útmutatók"></app-page-title>
  <div class="flex-col">
    <div class="guide-card card" routerLink="/characters">
      <img src="assets/images/UI_BtnIcon_AvatarList.webp" />
      <div>
        <div class="guide-name">Karakter Útmutatók</div>
        <div class="guide-description">
          Részletes útmutatók és információk a karakterekről
        </div>
      </div>
    </div>
    @for (guide of guides; track $index) {
      <div [routerLink]="`/guides/${guide.slug}`" class="guide-card card">
        @if (guide.imageUrl) {
          <img [src]="guide.imageUrl" />
        }
        <div>
          <div class="guide-name">{{ guide.name }}</div>
          <div class="guide-description">{{ guide.description }}</div>
        </div>
      </div>
    }
  </div>
</div>
