.guide-container {
  margin-bottom: 20px;
  
}


.guide-card {
  background-color: var(--darker-gray);
  padding: 15px;
  gap: 10px;
  flex-direction: row;
}

.guide-card img {
  max-width: 64px;
}

.guide-card .guide-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.guide-card .guide-description {
  font-size: 14px;
}
