.tools {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}


.tool-card {
  flex: 1;
  padding: 20px;
  background-color: var(--darker-gray);
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.description {
  font-size: 14px;
  color: var(--light-gray);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}
