.tools {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.tool-card {
  flex: 1;
  padding: 20px;
  background-color: var(--darker-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tool-card:hover {
  border-color: var(--blue);
  box-shadow: 0 0 15px var(--shadow-blue);
  background-color: var(--dark-gray);
}

.description {
  font-size: 14px;
  color: var(--light-gray);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}
