<div class="container">
  <app-page-title title="Eszközök" backLink="/" />
  <div class="tools">
    <div class="tool-card" [routerLink]="['/tierlist-maker']">
      <div class="title">Tier List Készítő</div>
      <div class="description">
        Állítsd össze és rendezd a karaktereket a saját tier listád szerint.
      </div>
    </div>
    <div class="tool-card" [routerLink]="['/tierlist-viewer']">
      <div class="title">Tier List Néző</div>
      <div class="description">
        Tölts fel egy tier listát tartalmazó fájlt, és nézd meg azt.
      </div>
    </div>
  </div>
</div>
