.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
  flex-wrap: wrap;
}

.logo img {
  width: 120px;
  height: auto;
}

.introducion {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
}

.quick-access-card {
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.quick-access-card:hover {
  border-color: var(--blue);
  box-shadow: 0 0 15px var(--shadow-blue);
  background-color: var(--dark-gray);
}

.quick-access-card .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.quick-access-card .description {
  font-size: 14px;
  color: var(--light-gray);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  gap: 10px;

  width: 100%;
  padding: 5px 0;

  background-color: var(--darker-gray);
  border-top: 1px solid var(--dark-gray);

  z-index: 100;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  color: var(--white);
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;

  border: 1px solid var(--gray);
  background-color: var(--dark-gray);
  width: 200px;

  margin: 5px 0px;
}

.footer-icon {
  width: auto;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item span {
  font-size: 0.75rem;
  opacity: 0.75;
  letter-spacing: 0.3px;
}

.footer-item:hover {
  border-color: var(--blue);
  box-shadow: 0 0 15px var(--shadow-blue);
  background-color: var(--gray);
}

@media (max-width: 1024px) {
  .introducion {
    font-size: 1.5rem;
  }

  .logo img {
    width: 80px;
  }
}