<div class="container">
  <app-page-title title="Tier List Készítő" backLink="/tools" />
  <div class="main-section">
    <div class="first-col">
      <div class="tierlist">
        @for (tier of tierlist.tiers; track tier.tier) {
          <div class="tier">
            <input
              class="tier-name"
              type="text"
              [(ngModel)]="tier.tier"
              placeholder="Tier neve"
            />

            <div
              cdkDropList
              [id]="'tier-' + $index"
              [cdkDropListData]="tier.characters"
              [cdkDropListConnectedTo]="allDropLists"
              cdkDropListOrientation="mixed"
              (cdkDropListDropped)="drop($event)"
              class="tier-dropzone tier-zone"
            >
              @for (char of tier.characters; track char.id) {
                <div
                  cdkDrag
                  class="draggable-item"
                  [class.selected]="selectedCharacter === char"
                  (click)="selectCharacter(char)"
                >
                  <img
                    class="character-icon"
                    [src]="
                      'assets/images/characters/' + char.apiKey + '/icon.webp'
                    "
                    [alt]="char?.profile?.name"
                  />
                  @if (char.tags.length) {
                    <div class="char-tags">
                      @for (tag of char.tags; track tag.id) {
                        <span class="tag" [style.background]="tag.color">
                          {{ tag.label }}
                        </span>
                      }
                    </div>
                  }
                </div>
              }
            </div>

            <button (click)="removeTier(tier)">X</button>
          </div>
        }
      </div>
      <button class="add-button" (click)="addTier()">Tier Hozzáadása</button>
      <h3>Elérhető Karakterek</h3>
      <div
        cdkDropList
        #charactersList="cdkDropList"
        id="charactersList"
        [cdkDropListData]="characters"
        [cdkDropListConnectedTo]="allDropLists"
        cdkDropListOrientation="mixed"
        (cdkDropListDropped)="drop($event)"
        class="item-pool"
      >
        @for (char of characters; track char.id) {
          <div
            cdkDrag
            class="draggable-item"
            [class.selected]="selectedCharacter === char"
            (click)="selectCharacter(char)"
          >
            <img
              class="character-icon"
              [src]="'assets/images/characters/' + char.apiKey + '/icon.webp'"
              [alt]="char?.profile?.name"
            />
          </div>
        }
      </div>
    </div>
    <div class="tagside">
      @if (selectedCharacter != null) {
        <div class="character-sidebar">
          <h3>{{ selectedCharacter.profile?.name || "Character" }}</h3>

          <h4>Tag-ek</h4>
          <div class="tag-list">
            @for (tag of selectedCharacter.tags; track tag.id) {
              <div class="tag" [style.background]="tag.color">
                {{ tag.id }}

                @if (tag.extra && tag.extra.length) {
                  <span>({{ tag.extra.join(", ") }})</span>
                }
                <button type="button" (click)="removeTagFromCharacter(tag.id)">
                  X
                </button>
              </div>
            }
          </div>

          <h4>Tag Hozzáadása</h4>
          <div class="add-tag-options">
            <select [(ngModel)]="selectedTagId">
                <option value="" disabled>Válassz egy tag-et</option>
              @for (tag of tierlist.tags; track tag.id) {
                <option [value]="tag.id">{{ tag.label }}</option>
              }
            </select>
            <input
              type="text"
              placeholder="Extra infó (Pl. 'DPS, Support')"
              [(ngModel)]="selectedTagExtras"
            />

            <button (click)="onAddTag()">Tag Hozzáadása</button>
          </div>
        </div>
      }
      <div class="tag-editor">
        <h3>Tag-ek</h3>
        <div class="tag-list">
          @for (tag of tierlist.tags; track tag.id) {
            <span class="tag" [style.background]="tag.color">
              {{ tag.label }}
              <button type="button" (click)="removeTag(tag.id)">X</button>
            </span>
          }
        </div>
        <div class="new-tag-inputs">
          <input
            type="text"
            [(ngModel)]="newTagLabel"
            placeholder="Tag neve"
          />
          <input class="color" type="color" [(ngModel)]="newTagColor" />
        </div>
        <button class="add-button" (click)="addTag()">Tag Hozzáadása</button>
      </div>
      <hr />
      <button class="download-button" (click)="getJsonFile()">
        Json file letöltése
      </button>
    </div>
  </div>
</div>
