@for (node of nodes; track $index) {
  @switch (node.type) {
    @case ("text") {
      <div>{{ node.text }}</div>
    }

    @case ("lineBreak") {
      <br />
    }

    @case ("italic") {
      <i>
        <app-ast-renderer
          [nodes]="node.children"
          [elementColor]="elementColor"
          [underline]="underline"
        >
        </app-ast-renderer>
      </i>
    }

    @case ("bold") {
      <b>
        <app-ast-renderer
          [nodes]="node.children"
          [elementColor]="elementColor"
          [underline]="underline"
        >
        </app-ast-renderer>
      </b>
    }

    @case ("color") {
      <div
        [style.color]="node.color"
        [style.text-decoration]="underline ? 'underline' : null"
        [style.text-decoration-color]="underline ? node.color : null"
      >
        <app-ast-renderer
          [nodes]="node.children"
          [elementColor]="elementColor"
          [underline]="underline"
        >
        </app-ast-renderer>
      </div>
    }

    @case ("link") {
      <app-hyperlink
        [id]="node.id"
        [linkType]="node.linkType"
        [elementColor]="elementColor"
      >
        <app-ast-renderer
          [nodes]="node.children"
          [elementColor]="elementColor"
          [underline]="true"
        >
        </app-ast-renderer>
      </app-hyperlink>
    }

    @case ("param") {
      <app-param-value
        [groupId]="node.groupId"
        [level]="node.level"
        [paramIndex]="node.paramIndex"
        [multiplier]="node.multiplier"
      ></app-param-value>
    }
  }
}
