<div class="container">
  <app-page-title
    backLink="/materials"
    title="Material Részletek"
  ></app-page-title>
  @if (material) {
    <div class="material-container card card-no-hover">
      <div class="material-card">
        <img
          [title]="material.name"
          [src]="getMaterialImage(material)"
        />
        <div class="details">
          <div class="name">{{ material.name }}</div>
          <div
            class="description"
            [innerHTML]="toHtml(material.description)"
          ></div>
          @if (material.daysOfWeek) {
            <div class="farm">
              <div>
                Domain: <span class="where">{{ material.dropDomainName }}</span>
              </div>
              <div>
                Days:
                <span class="when">{{ material.daysOfWeek.join(", ") }}</span>
              </div>
            </div>
          }
        </div>
      </div>
      @if (material.craftable) {
        <div class="craft card card-no-hover">
          <div class="name">Craftolható:</div>
          <div class="material-craft">
            @for (cMat of material.craft?.recipe; track $index) {
              <div
                class="craft-mat card"
                [routerLink]="`/materials/${cMat.material.normalizedName}`"
              >
                <img
                  [title]="cMat.material.name"
                  [src]="getMaterialImage(cMat.material)"
                />
                <div class="amount">{{ cMat.count }}</div>
              </div>
            }
            <div class="craft-mat card">
              <img
                [title]="mora?.name"
                [src]="getMaterialImage(mora)"
              />
              <div class="amount">{{ material.craft?.moraCost }}</div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
