<div class="container">
  <app-page-title [title]="'Karakterek'" [backLink]="'/'"></app-page-title>
  <div class="search-bar">
    <div class="filters-section">
      <button
        class="filters-button"
        [class.active]="showFiltersDropdown"
        (click)="toggleFiltersDropdown()"
      >
        Szűrők
      </button>
      @if (showFiltersDropdown) {
        <div class="filters-dropdown">
          <div class="filter-group">
            <p>Elemek</p>
            <div>
              @for (element of elements; track $index) {
                <button
                  class="filter-btn"
                  [class.active]="elementFilters.includes(element)"
                  (click)="toggleFilter(elementFilters, element)"
                >
                  {{ element }}
                </button>
              }
            </div>
          </div>
          <div class="filter-group">
            <p>Fegyverek</p>
            <div>
              @for (wType of weaponTypes; track $index) {
                <button
                  class="filter-btn"
                  [class.active]="weaponFilters.includes(wType)"
                  (click)="toggleFilter(weaponFilters, wType)"
                >
                  {{ wType }}
                </button>
              }
            </div>
          </div>
          <div class="filter-group">
            <p>Ritkaság</p>
            <div>
              <button
                class="filter-btn"
                [class.active]="rarityFilters.includes('5')"
                (click)="toggleFilter(rarityFilters, '5')"
              >
                5-Csillagos
              </button>
              <button
                class="filter-btn"
                [class.active]="rarityFilters.includes('4')"
                (click)="toggleFilter(rarityFilters, '4')"
              >
                4-Csillagos
              </button>
            </div>
          </div>
        </div>
      }
    </div>
    <input
      type="text"
      placeholder="Karakterek keresése..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchTermChange()"
    />
  </div>

  <div class="character-container">
    @for (char of characterData; track $index) {
      <app-character-card
        [style.display]="filteredCharacters.includes(char) ? 'block' : 'none'"
        [char]="char"
      ></app-character-card>
    }
  </div>
</div>
