<div class="container">
  <app-page-title [title]="'Karakterek'" [backLink]="'/'"></app-page-title>
  <div class="search-bar">
    <app-filters
      [groups]="filterGroups"
      [filters]="filters"
      (filtersChange)="onFiltersChange($event)"
    />
    <input
      type="text"
      placeholder="Karakterek keresése..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="applyFilters()"
    />
  </div>

  <div class="character-container">
    @for (char of characterData; track $index) {
      <app-item-card
        [routerLink]="`/characters/${char.normalizedName}`"
        [style.display]="filteredCharacters.includes(char) ? 'block' : 'none'"
        [imageUrl]="getIcons(char).iconUrl"
        [itemName]="char.name"
        [rarity]="char.rarity"
      >
        <div icon-slot>
          <div class="icon">
            <img [src]="getIcons(char).weaponUrl" alt="" />
          </div>
          <div class="icon element" [style]="getElementStyle(char)">
            @if (char?.elementText != "None") {
              <img [src]="getIcons(char).elementUrl" alt="" />
            }
          </div>
        </div>
      </app-item-card>
    }
  </div>
</div>
