name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - main
      
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout code with LFS
        uses: actions/checkout@v3
        with:
          lfs: true

      # Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Build Angular app
      - name: Build project
        run: npx ng build --configuration production --base-href /genshin-site/

      - name: Configure Git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        run: npx angular-cli-ghpages --dir=dist/genshin-site/browser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
